<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue01</title>
	<!-- import CSS -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        span{
            padding: 4px;
        }

		.colorShow{
			background-color: red;
			cursor: pointer;
		}
    </style>
</head>
<body>


<div id="app-e">
	<el-button @click="visible = true">Button</el-button>
	<el-dialog :visible.sync="visible" title="Hello world">
		<p>Try Element</p>
	</el-dialog>
</div>

	<div id="app" >
        <span v-for=" data, i in message" :class="{colorShow:activeSpan == data}" @click="wordClick" @mouseenter="mouseEnter(data)" @mouseout="mouseout">{{data}}</span>
        <!--<div v-html="message"></div>-->
    </div>
	<div id="app2">
		<span :title='message'> 鼠标悬停几秒钟查看此处动态绑定的提示信息！</span>
	</div>
	<div id="app3">
		<p v-if="seen">现在你看到我了</p>
	</div>
	<div id="app4">
		<ol>
			<li v-for="todo in todos">{{todo.text}}</li>
		</ol>
	</div>
	<div id="app5">
		<p>{{message}}</p>
		<button @click="reverseMessage">反转消息</button>
	</div>


</body>
</html>

<script>

    new Vue({
        el: '#app-e',
        data: function() {
            return { visible: false }
        }
    })

</script>

<script>
    let content = "At that' point, leav-e_——s begin to change。 color. <br>从那时起，树叶就开始变色。".split("<br>");
    // let en = content[0].replace(/([A-z]+)/gi,'<span>$1</span>');
    let en = [];
    let e = content[0].trim().replace(/([A-z]+)/gi, '<span @click=\"wordClick\">$1</span>');
    en = content[0].trim().split(" ");
	var app = new Vue({
		el: "#app",
		data:{
			message : en,
            activeSpan : ''
		},
        methods: {
            wordClick : function (event) {
                let a = event.target.innerText.replace(/([A-z]+)/gi, '<span>$1<span>')
                alert(a)
            },
            mouseEnter : function (event) {
                console.log(event.replace(/[\.。，,;；、\-\_——]*/gi, ''));
				this.activeSpan = event;
            },
			mouseout : function () {
                this.activeSpan = '';
            }
        }

	});

	var app2 = new Vue({
		el: "#app2",
		data:{
			message : '页面加载于' + new Date().toLocaleString()
		}
	})

	var app3 = new Vue({
		el: "#app3",
		data:{
			seen : true
		}
	})

	var app4 = new Vue({
		el:"#app4",
		data:{
			todos:[
				{text: '1'},
				{text: '3'},
				{text: '5'}
			]
		}
	})

	var app5 = new Vue({
	  el: '#app5',
	  data: {
	    message: 'Hello Vue.js!'
	  },
	  methods: {
	    reverseMessage : function () {
	    	// body...
	    	this.message = this.message.split('').reverse().join('')
	    }
	  }
})
</script>